VITE_SUPABASE_URL=https://krzbtkswcdvsejuavnxc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtyemJ0a3N3Y2R2c2VqdWF2bnhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyODI2MDksImV4cCI6MjEwMDg1ODYwOX0.TdL3FhErbcsJNKWzMzmflc08srQq2AwKeWmDJjZRBR0
